@import "tailwindcss";

:root {
  --background: #020617;
  --foreground: #f8fafc;

  --card: #111827;
  --card-foreground: #f8fafc;

  --primary: #e50914;
  --secondary: #dc2626;

  --muted: #334155;

  --border: #1e293b;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-poppins), sans-serif;
}

html {
  scroll-behavior: smooth;
}